

<hr />
Forecast for:<br>
 <a href="#/forecast/2" ng-class="{ 'bg-primary' : days === '2' }">2</a> days<br>
 <a href="#/forecast/3" ng-class="{ 'bg-primary' : days === '3' }">3</a> days<br>
 <a href="#/forecast/4" ng-class="{ 'bg-primary' : days === '4' }">4</a> days<br>

<hr />

<div ng-repeat="w in weatherResult.list">

    <div class="row">

        <div class="col-md-12">
              <weather-report
                weather-day="w"
                formated-date="formatedDate(date)"
                convert-to-celsius="convertToCelsius(dayTimeTemp)"
                date-format="'yyyy-MM-dd'">
      </weather-report>


        </div>

    </div>

</div>
